<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>
      Aplicación Tarjeta Banco UC
    </h1>
    <div>
      <br>
      <div class="form-group text-end">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/solicitudes">Ver Solicitudes</button>
        <button type="button" class="btn btn-success btn-lg" routerLink="/registro">Solicitar Tarjeta</button>
      </div>
      <div class="form-grou text-end">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/tarjetas">Tarjeta</button>
      </div>
    </div>
  </div>
</div>
