<div class="container py-5">

  <div class="col-md-6 col-md-offset-3">

    <h1>
      Crear Solicitud
    </h1>

    <div class="card-body">
      <br>
      <div class="form-group text-end">
        <button type="button" class="btn btn-light" routerLink="/solicitudes">Ver Solicitudes</button>
        <button type="button" class="btn btn-light" routerLink="/registro">Solicitar Tarjeta</button>
        <button type="button" class="btn btn-light" routerLink="/">Iniciar Sesión</button>
      </div>
    </div>
  </div>

</div>

