<div class="container">

<h5 class="mb-5">Solicitudes Banco UC</h5>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Número de solicitud</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Documento</th>
    <th scope="col">Correo</th>
    <th scope="col">Celular</th>
    <th scope="col">Salario</th>
    <th scope="col">Gastos</th>
    <th scope="col">Detalle</th>
  </tr>
  </thead>
  <tbody>
    @for(dato of Solicitudes; track dato.numerosolicitud) {
      <tr>
        <td style="min-width:100px">{{ dato.numerosolicitud }}</td>
        <td style="min-width:200px">{{ dato.nombre }}</td>
        <td style="min-width:200px">{{ dato.apellido }}</td>
        <td style="min-width:100px">{{ dato.cedula }}</td>
        <td style="min-width:200px">{{ dato.correo }}</td>
        <td style="min-width:100px">{{ dato.celular }}</td>
        <td style="min-width:100px">{{ dato.salario }}</td>
        <td style="min-width:100px">{{ dato.gastos }}</td>
        <td class="text-center">
          <div class="btn-group">
            <button type="button" class="btn btn-success" (click)="abrirSolicitud(dato.numerosolicitud)">Aprobar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarSolicitud(dato.numerosolicitud)">Eliminar</button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
  <div class="button-container">
    <button type="button" class="btn btn-info" routerLink="/">Atrás</button>
  </div>
</div>
