 <h5 class="mb-5">Tu Tarjeta del Banco UC</h5>

  <form>
    <div class="form-group">
      <label for="numerotarjeta">Número de tarjeta:</label>
      <input type="text" class="form-control" id="numerotarjeta" value="{{tarjeta?.numerotarjeta}}" disabled>
    </div>
    <div class="form-group">
      <label for="fecha_vec">Fecha de Vencimiento:</label>
      <input type="text" class="form-control" id="fecha_vec" value="{{tarjeta?.fecha_vec}}" disabled>
    </div>
    <div class="form-group">
      <label for="documento">Documento:</label>
      <input type="text" class="form-control" id="documento" value="{{tarjeta?.documento}}" disabled>
    </div>
    <div class="form-group">
      <label for="cupo">Cupo Disponible:</label>
      <input type="text" class="form-control" id="cupo" value="{{tarjeta?.cupo}}" disabled>
    </div>
    <div class="form-group">
      <label for="fecha_cor">Fecha de Corte:</label>
      <input type="text" class="form-control" id="fecha_cor" [value]="tarjeta?.fecha_cor" disabled>
    </div>
    <div class="form-group">
      <label for="fecha_lim">Fecha Límite de Pago:</label>
      <input type="text" class="form-control" id="fecha_lim" value="{{tarjeta?.fecha_lim}}" disabled>
    </div>
    <div class="form-group">
      <label for="saldo">Saldo Disponible:</label>
      <input type="text" class="form-control" id="saldo" value="{{tarjeta?.saldo}}" disabled>
    </div>
  </form>
<div>
  <button type="button" class="btn btn-success">Mis Transferencias</button>
</div>


