<div class="container">

  <h5 class="mb-5">Tarjetas Banco UC</h5>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Número de tarjeta</th>
      <th scope="col">Fecha de Vencimiento</th>
      <th scope="col">Documento</th>
      <th scope="col">Cupo</th>
      <th scope="col">Fecha de Corte</th>
      <th scope="col">Fecha Límite de Pago</th>
      <th scope="col">Saldo Pendiente</th>
    </tr>
    </thead>
    <tbody>
      @for(dato of Tarjetas; track dato.serial) {
        <tr>
          <td style="min-width:100px">{{dato.numerotarjeta}}</td>
          <td style="min-width:200px">{{dato.fecha_vec}}</td>
          <td style="min-width:100px">{{dato.documento}}</td>
          <td style="min-width:100px">{{dato.cupo}}</td>
          <td style="min-width:100px">{{dato.fecha_cor}}</td>
          <td style="min-width:100px">{{dato.fecha_lim}}</td>
          <td style="min-width:100px">{{dato.saldo}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
