<div class ="row">
  <div class="col-md-6 col-md-offset-3">


    <h1>
      Crear Solicitud
    </h1>

    <div class="card-body">
      @if(form){
        @if(errors?.length){
          <div>
            <ul>
              @for (error of errors; track error){
                <li>{{error}}</li>
              }
            </ul>
          </div>
        }
        <form [formGroup]="form" (ngSubmit)="guardar()" >
          <div class="form-group">
            <label class="control-label" for="nombre">Nombre:</label>
            <input id="nombre"  type="text" class="form-control" required autofocus="autofocus"
                   formControlName="nombre">
            @if(form.get('nombre')?.hasError('required') && form.get('nombre')?.touched){
              <p class="invalid-feedback d-block">El nombre es obligatorio</p>
            }
          </div>
          <div class="form-group">
            <label class="control-label" for="apellido">Apellido:</label>
            <input id="apellido"  type="text" class="form-control" required autofocus="autofocus"
                   formControlName="apellido">
            @if(form.get('apellido')?.hasError('required') && form.get('apellido')?.touched){
              <p class="invalid-feedback d-block">El apellido es obligatorio</p>
            }
          </div>
          <div class="form-group">
            <label class="control-label" for="celular">Celular:</label>
            <input id="celular"  type="number" class="form-control" required autofocus="autofocus"
                   formControlName="celular">
            @if(form.get('celular')?.hasError('required') && form.get('celular')?.touched){
              <p class="invalid-feedback d-block">El celular es obligatorio y de diez dígitos</p>
            }
          </div>
          <div class="form-group">
            <label class="control-label" for="correo">Correo:</label>
            <input id="correo"  type="text" class="form-control" required autofocus="autofocus"
                   formControlName="correo">
            @if(form.get('correo')?.hasError('required') && form.get('correo')?.touched){
              <p class="invalid-feedback d-block">El correo es obligatorio</p>
            }
          </div>
          <div class="form-group">
            <label class="control-label" for="cedula">Cedula:</label>
            <input id="cedula"  type="number" class="form-control" required autofocus="autofocus"
                   formControlName="cedula">
            @if(form.get('cedula')?.hasError('required') && form.get('cedula')?.touched){
              <p class="invalid-feedback d-block">La cedula es obligatorio y de máximo diez dígitos</p>
            }
          </div>
          <div class="form-group">
            <label class="control-label" for="salario">Salario:</label>
            <input id="salario"  type="number" class="form-control" required autofocus="autofocus"
                   formControlName="salario">
            @if(form.get('salario')?.hasError('required') && form.get('salario')?.touched){
              <p class="invalid-feedback d-block">El salario es obligatorio</p>
            }
          </div>
          <div class="form-group">
            <label class="control-label" for="gastos">Gastos:</label>
            <input id="gastos"  type="number" class="form-control" required autofocus="autofocus"
                   formControlName="gastos">
            @if(form.get('gastos')?.hasError('required') && form.get('gastos')?.touched){
              <p class="invalid-feedback d-block">Los gastos son obligatorio</p>
            }
          </div>


          <br>
          <div class="form-group text-end">
            <button type="button" class="btn btn-light" routerLink="/">Cancelar</button>
            <button type="submit" class="btn btn-primary ms-2" [disabled]="!form.valid">Registrar</button>
          </div>
        </form>
      }
    </div>
  </div>

</div>
