<div class="container">
  <h5 class="mb-5">Aprobar Solicitud</h5>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="form-group">
      <label for="numerosolicitud">Número de Solicitud</label>
      <input type="text" id="numerosolicitud" formControlName="numerosolicitud" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" formControlName="apellido" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="cedula">Cédula</label>
      <input type="text" id="cedula" formControlName="cedula" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="email" id="correo" formControlName="correo" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="celular">Celular</label>
      <input type="text" id="celular" formControlName="celular" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="salario">Salario</label>
      <input type="text" id="salario" formControlName="salario" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="gastos">Gastos</label>
      <input type="text" id="gastos" formControlName="gastos" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="comentario">Comentario</label>
      <textarea id="comentario" formControlName="comentario" class="form-control"></textarea>
      @if(form.get('gastos')?.hasError('required') && form.get('gastos')?.touched){
        <p class="invalid-feedback d-block">Tiene que informar porque Aprueba la tarjeta</p>
      }
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Aprobar</button>
      <button type="button" class="btn btn-info" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
